form {
    width: fit-content;
}

.layoutcontainer {
    padding: 0.5em;
    border: 1px solid gray;
}

.editcontainer {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    border: 1px solid gray;
}

#reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.review-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.review-box{
    width: 500px;
    padding: 20px;
    margin: 15px;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile{
    display: flex;
    align-items: center;
}

.user-name{
    display: flex;
    flex-direction: column;
}

.user-name strong{
    font-size: 1.1em;
}

.user-name span{
    font-size: 0.8em;
    color: grey;
}

.review-stars .checked{
    color: gold;
}

.review-text{
    font-size: 0.9em;
}