{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Lisää uusi ryhmä</h2>
        <form id="groupform" action="/addgroup" method="POST" onsubmit="return window.confirm('Ovatko tiedot oikein?')">
            <fieldset>
                <legend>Perustiedot</legend>
                <div class="form-group">
                    <label for="name">Nimi:
                        <input type="text" class="form-control" name="name" id="name" required/>
                    </label>
                </div>                           
                <div class="form-group">
                    <label for="description">Kuvaus:</label>
                    <textarea class="form-control" id="description" name="description" rows="10" cols="50" maxlength="1000"></textarea>
                </div>
            </fieldset>
            <fieldset>
                <legend>Lisää kenttiä ryhmään</legend>
                {% for course in courses %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="{{ course.id }}" name="courses" value="{{ course.id }}" />
                    <label class="form-check-label" for="{{ course.id }}"><a href="/course/{{ course.id }}">{{ course.name }}</a></label>
                </div>
                {% endfor %}
            </fieldset>
            <button type="submit" class="btn btn-primary">Lisää ryhmä</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        </form>
    </div>
</div>
{% endblock %}