{% extends 'layout.html' %}
{% block content %}

<h2>Etusivu</h2>

{% if session.user_id %}
<div>Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b>.<a href="/logout">Kirjaudu ulos</a></div>

{% else %}
<div>Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a> tai <a href="/register">rekisteröidy</a>.</div>
{% endif %}

<div class="index-course-container">
    {% if session.user_role == 1 %}
    <div>
        <h3>Kentät arvostelujen mukaan</h3>
        <ul>
            {% for rating in ratings %}
            <li><a href="/course/{{ rating.id }}">{{ rating.name }}</a> {{ rating.stars }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% include 'map.html' %}
</div>

{% if session.user_role == 2 %}

<h3>Ylläpitäjän toiminnot</h3>
<p><a href="/add">Lisää uusi kenttä</a></p>

{% endif %}
</body>
</html>

{% endblock %}