<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Golfkentät</title>
    </head>
    <body>
    <h1>Golfkentät</h1>
    <hr>
{% block content %}{% endblock %}
 