{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Kirjaudu sisään</h2>
        <form action="/login" method="POST">
            <fieldset>
                <div class="form-group">
                    <label for="username">Käyttäjätunnus:
                        <input type="text" class="form-control" name="username" id="username" required/>
                    </label>
                </div>
                <div class="form-group">
                    <label for="password">Salasana:
                        <input type="password" class="form-control" name="password" id="password" required/>
                    </label>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Kirjaudu</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <br>
        <p>Jos sinulla ei ole tunnusta, voit luoda ne <a href="/register">tästä</a>.</p>
    </div>
</div>
{% endblock %}