{% extends 'layout.html' %}
{% block content %}

<body>
    <h2>Rekisteröidy</h2>
    <form action="/register" method="POST">
        <fieldset id="personinfo">
            <div>
                <label for="name">Anna koko nimesi:
                    <input type="text" name="name" id="name" required />
                </label>
            </div>
            <div>
                <label for="username">Valitse käyttäjätunnus:
                    <input type="text" name="username" id="username" required />
                </label>
            </div>
            <div>
                <label for="password1">Valitse salasana:
                    <input type="password" name="password1" id="password1" required />
                </label>
            </div>
            <div>
                <label for="password2">Anna salasana uudestaan:
                    <input type="password" name="password2" id="password2" required />
                </label>
            </div>
        </fieldset>
        <fieldset>
            <legend>Valitse rooli:</legend>
            <div>
                <input type="radio" id="basic" name="role" value=1 checked/>
                <label for="basic">Käyttäjä</label> 
                <input type="radio" id="admin" name="role" value=2 />
                <label for="admin">Ylläpitäjä</label>          
            </div>
        </fieldset>
        <div>
            <input type="submit" value="Luo tunnus" />
        </div>
    </form>
    <p>Palaa <a href="/">takaisin</a></p>
</body>
</html>

{% endblock %}